.centralizar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.textos1:hover{
    color: blue;
}

.textos1{
    font-weight: bold !important;
    
    
 }

 .text-decorator-none{
     text-decoration: none;
 }
 body{
     background-image: url(https://pbs.twimg.com/media/D39XUWjW4AUe8mS.jpg);
     background-size: cover;
     
 }
 .caixalogin{ 
     border-color: rgb(128, 128, 128) !important;
     text-align: center;
     width: 200%;
    height: 200%;
    background-color: white;    
 }
 
 