.textos1:hover{
    color: black;
}

.textos1{
    font-weight: bold !important;
    
 }
 
 .imagem{
     background-image: url(https://i.imgur.com/BNegKAg_d.webp?maxwidth=520&shape=thumb&fidelity=high);
     background-repeat: no-repeat;
     width: 100vh;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
 }
 
 .text-decorator-none{
     text-decoration: none;
 }
 body{
     background-image: url();
 }
 .caixalogin{ 
     border-color: gray !important;
      
 }
 