.box1{
    background-color: #3f3716;
    height: 120px;
}

.box2{
    background-color: #474a5c;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white !important;
}
body{
    background-color: black;
}