.caixa{
    background-color: gray;
    
}

.titulo{
   color: white !important;
   font-weight: bold !important;
   font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

.botao{
    border-color: white !important;
    background-color: #3F51B5;
    color: white !important;
}

.postagens{
    background-color: gainsboro;
}
body{
    background-color: gainsboro;
}